@font-face {
  font-family: "iconfont"; /* Project id 4933953 */
  src: url('iconfont.woff2?t=1748520733313') format('woff2'),
       url('iconfont.woff?t=1748520733313') format('woff'),
       url('iconfont.ttf?t=1748520733313') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yunfuwuqi:before {
  content: "\e631";
}

.icon-shiyongshouce:before {
  content: "\e600";
}

.icon-openmcp:before {
  content: "\e666";
}

.icon-quick-fill:before {
  content: "\e863";
}

.icon-heike:before {
  content: "\e6c5";
}

.icon-bumendongtai:before {
  content: "\e61f";
}

.icon-duzhengyishi:before {
  content: "\e620";
}

.icon-lianwangzhongxin:before {
  content: "\e621";
}

.icon-fenxitongji:before {
  content: "\e622";
}

.icon-shujuzhongxin:before {
  content: "\e623";
}

.icon-shuju:before {
  content: "\e624";
}

.icon-shenji:before {
  content: "\e625";
}

.icon-yusuan:before {
  content: "\e626";
}

.icon-yibangonggongyusuan:before {
  content: "\e627";
}

.icon-xinxiang:before {
  content: "\e628";
}

.icon-yujing:before {
  content: "\e629";
}

.icon-yijianchuli:before {
  content: "\e62a";
}

.icon-zhuanti:before {
  content: "\e62b";
}

.icon-a-yusuan2:before {
  content: "\e62c";
}

.icon-yujuesuanshencha:before {
  content: "\e62d";
}

.icon-zhengcefagui:before {
  content: "\e62e";
}

.icon-ziliao:before {
  content: "\e62f";
}

.icon-zixuntousu:before {
  content: "\e630";
}

